<div class:"page-content class= "text-center mt-4"">
<h1><%=@user.name %>'s profile</h1>
<%=gravatar_for @user, size: 200 %>
<div class = "text-center mt-4">
  <% if logged_in? %>
  <% if @user == current_user %>
  <%= link_to "Edit profile", edit_user_path,class:"btn btn-outline-info" %>
  <% end %>
  <% if current_user.admin %>
  <%= link_to 'Delete Profile', user_path, method: :delete, class:"btn btn-outline-danger", data: {confirm: "Are you sure?"}%>
  <% end %>
  <% end %>
</div>
<div class="flickr_pagination text-center mt-3">
  <%= will_paginate @articles, :container => false %>
</div>
<h3 class = "mt-3">Article</h3>
<%= render 'articles/articles' %>
</div>